.img_intro {
	background-color: cadetblue;
	border: 1px solid blue;
	display: inline-grid;
}

@media only screen and (max-width: 650px) {
	#dummy {
		display: none;
	}
	.img_intro {
		width: 300;
		height: 300;
	}
}
/* Stack page */
.Outputforstack{
	background-color: black;
	color: #fff;
}
.keyword{
	color: #000fff;
}